{% extends base_url %}

{% block content %}

<div class="m-scene" id="js-scene">
	<span class="m-scene_hanlder" id="js-handler"></span>
	<span class="m-scene_size" id="js-size"></span>
	<span class="m-scene_save" id="js-saveScene">
		zapisz
	</span>
	<div id="js-sceneContent">
		<img class="sceneContent_1" src="http://bi.gazeta.pl/im/52/f6/e6/z15136338Q,Nagly-wzrost-popularnosci-w-2012-roku-zaowocowal-e.jpg"/>
		<span class="sceneContent_1_1"></span>
		<span class="sceneContent_1_2"></span>
	</div>
</div>

{% endblock content %}
