{% extends base_url %}

{% block content %}

<div class="m-scene" id="js-scene">
	<span class="m-scene_hanlder" id="js-handler"></span>
	<span class="m-scene_size" id="js-size"></span>
	<span class="m-scene_save" id="js-saveScene">
		zapisz
	</span>
	<div id="js-sceneContent">
		<table style="width:600px;border:0; margin:0 auto; background:#ffffff; text-align:left; padding:0; color:#333333; font-size:12px; line-height:17px; font-family:Arial,sans-serif;" border="0" cellpadding="0" cellspacing="0" width="600">
		<tbody>
			<tr>
				<td>
					<table style="width:598px;margin:0 auto; background:#ffffff; text-align:left; padding:0; color:#333333; font-size:12px; line-height:17px; font-family:Arial,sans-serif;" cellpadding="0" cellspacing="0" width="598" height="88">
						<tbody>
							<tr>
								<td>
									<a href="#">
										<img alt="sklep.kler.eu" src="http://kler.eu/common/images/mail_top.jpg" border="0" style="display:block" height="88" width="598">
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table style="width:598px; margin:0 auto; background:#ffffff; text-align:left; padding:0; color:#333333; font-size:12px; line-height:17px; font-family:Arial,sans-serif;" cellpadding="0" cellspacing="0" width="598">
						<tbody>
							<tr>
								<td style="background: #f5f5f5; font-size:18px;padding:20px 30px;line-height: 26px;">
									<p style="margin:0">
										Zamówienie Anulowane <span class="widget_conf_txt">nr /span>
									</p>
								</td>
							</tr>
							<tr>
								<td class="cont" style="padding:20px 30px;">
									<div>
										<p style="font-size:14px; line-height:19px;margin:0">
											<b>Witamy w e-sklepie Kler! <br><br></b>

											Państwa zamówienie zostało anulowane.
											Dziękujemy za odwiedzenie naszego e-sklepu i zapraszamy do ponownych zakupów!
										</p>
										<span class="widget_conf_txt">
											
										</span>
										<p>Wiadomość wysłana automatycznie</p>
									</div>
								</td>
							</tr>
							<tr>
								<td style="background:#ffffff;padding:15px 30px;border-top:1px solid #cccccc;">
									<p style="margin:0">
										Zapraszamy do odwiedzenia naszych salonów.
										<br>Zespół Kler
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table style="width:598px;margin:0 auto; background:#ffffff; text-align:left; padding:0; color:#333333; font-size:12px; line-height:17px; font-family:Arial,sans-serif;" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>
									<a href="#">
										<img alt="sklep.kler.eu" src="http://kler.eu/common/images/mail_bottom.jpg" border="0" height="315" width="598">
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>

{% endblock content %}
